html, body {

	margin: 0;
	width: 100%;
	height: 100%;
}

.main-body {

	background-color: black;
}

#msg-container {

	width: 100%;
	height: 80%;
	box-sizing: border-box;
	background-color: #2d0922;

	overflow: auto;
	scrollbar-color: #c9613f black;
	scrollbar-width: thin;

	padding-left: 0.5%;
	font-family: monospace;
	color: white;
}