html, body {

	margin: 0;
	width: 100%;
	height: 100%;
}

.main-body {

	background-color: black;
}

#msg-container {

	width: 100%;
	height: 80%;
	box-sizing: border-box;
	background-color: #2d0922;

	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: #c9613f black;
	scrollbar-width: thin;

	padding-left: 0.5%;
	font-family: monospace;
	font-size: 120%;
	color: white;
}

#msg-container > span {

	display: block;
	overflow-wrap: break-word;
}

#input-msg {

	width: 80%;
}
